.oe_footer{
	display:none;
}

body.oe_single_form {
    background: #51658a;
}

.navbar-inverse {
  background-color: #c2c3c4;  
  border-color: #000000;
}

.openerp .nav-pills li > a {
    padding: 6px 4px 2px 18px;
    color: #999;
}

.openerp .nav-pills > li.active > a, .openerp a.list-group-item.active > a {
  background-color: #F1F8E9;
  color: #51658a;
  border-radius: 0;
}

.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #51658a;
  cursor: default;
  background-color: #F1F8E9;
  border: 1px solid #66BB6A;
  border-bottom-color: transparent;
}

.openerp .oe_loading {  
  background: #51658a;
  color: white;
  text-align: center;
  border: 1px solid #000000;
}

.openerp .oe_secondary_menu_section {
  font-weight: bold;
  margin-left: 8px;
  color: #c7c7c7;
  text-transform: uppercase;
}

.openerp .oe_leftbar {
  background: #51658a;
  border-right: 1px solid #000000; 
}

.openerp .oe_leftbar > div {
    width: 240px;
}

.oe_im {
    position: fixed;
    background-color: #1f1d7f;
    width: 220px;
    border-left: 1px solid #AEB9BD;
    z-index: 500;
}

.openerp .oe_application a {
  color: #51658a;
}

.openerp .oe_list_content > thead {
    text-transform: uppercase;
}

.openerp .oe_tag {   
    background: #51658a;
    color: #fff;
}